@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]
@inject NavigationManager Navigation

@using Chinook.ClientServices.Interfaces
@using Chinook.Infrastructure.Contracts.Services


@if (IsLoading)
{
     <Loading />
}
else
{
    <h1>Playlist <strong>@Playlist.Name</strong></h1>

    @if (!string.IsNullOrWhiteSpace(InfoMessage))
    {
        <div class="alert alert-info fade show">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                    @InfoMessage
                </div>
                <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
            </div>
        </div>
    }

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var track in Playlist.Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            @if (Playlist.Name != "My favorite tracks")
                            {
                                @if (track.IsFavorite)
                                {
                                    <a href="#" class="m-1" title="Unark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                                }
                                else
                                {
                                    <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                                }

                            }
                            <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public long PlaylistId { get; set; }
    [Inject] ITrackService DataService { get; set; }
    [Inject] IClientPlaylistService PlaylistService { get; set; }


    private Chinook.ClientModels.Playlist Playlist;
    private string InfoMessage;
    private bool IsLoading = true; // Loading state

    protected override async Task OnInitializedAsync()
    {
        await LoadPlaylistOnInitialize();
    }

    protected override async Task OnParametersSetAsync()
    {    
        await LoadPlaylistOnInitialize();
        CloseInfoMessage();
    }

    private async Task FavoriteTrack(long trackId)
    {
        var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);

        var result = await DataService.FavoriteTrack(trackId);

        if (result)
        {
            InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} added to playlist My favorite tracks.";
            await ReloadPlaylist();
        }
        else
        {
            InfoMessage = $"Failed to add to playlist My favorite tracks.";
        }

    }

    private async Task UnfavoriteTrack(long trackId)
    {
        var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);

        var result = await DataService.UnFavoriteTrack(trackId);

        if (result)
        {
            InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} removed from playlist My favorite tracks.";
            await ReloadPlaylist();
        }
        else
        {
            InfoMessage = $"Failed to remove from playlist My favorite tracks.";
        }
    }

    private async Task RemoveTrack(long trackId)
    {
        CloseInfoMessage();
        var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);
        var result = await DataService.RemoveTrackFromPlaylist(trackId, PlaylistId);
        if (result)
        {
            InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} removed from playlist {Playlist.Name}";
            await ReloadPlaylist();
        }

    }

    private async Task ReloadPlaylist()
    {
        IsLoading = true; // Set loading state to true
        Playlist = await PlaylistService.GetPlaylistByIdAsync(PlaylistId);
        IsLoading = false; // Set loading state to false after data is fetched
        StateHasChanged();
    }

    private async Task LoadPlaylistOnInitialize()
    {
        IsLoading = true; // Set loading state to true
        Playlist = await PlaylistService.GetPlaylistByIdAsync(PlaylistId);
        IsLoading = false; // Set loading state to false after data is fetched
    }

    private void CloseInfoMessage()
    {
        InfoMessage = "";
    }

}
